.signup-main{
  .login-contents{
    display: block;
  
    &__title{
    font-size: 14px;
    padding: 32px;
    text-align: center;
    line-height: 1.5;
    background-color: #fff;
    font-weight:  bold;
    max-width: 343px;
    margin: auto;
  }
  }

  .login-contents__form{
    background: #FFF;
    margin: 1px auto;
    padding: 35px 16px 45px;
    max-width: 375px;
  }
  .login-btn__email{
    display: block;
    margin: 8px 0 0;
    border: 1px solid #0099e8;
    background: #0099e8;
    color: #fff;
    line-height: 40px;
  }

  .login-btn__facebook{
    background: #385185;
    color: #fff;
    display: block;
    margin: 8px 0 0;
    padding: 15px 40px;
  }

  .login-btn__google{
    color: #333;
    display: block;
    border: #979797 solid 1px;
    margin: 8px 0 0;
    padding: 15px 40px;
  }

  .login-btn{
    width: 328px;
    font-size: 14px;
    margin: auto;
  }

  .login_mercari_start{
    background: #ea352d;
    display: block;
    border: #ea352d solid 1px;
    padding: 15px 40px;
    max-width: 250px;
    margin: auto;
  }

  .login__start{
    color: #FFF;
    width: 328px;
    font-size: 14px;
  }
}