
.signup-contents__title{
  font-size: 22px;
  padding: 32px;
  text-align: center;
  line-height: 1.5;
  background-color: #fff;
}

.signup-contents__form{
  width: 700px;
  background: #FFF;
  margin: 0 auto;
}

.signup-btn{
  max-width: 343px;
  margin: auto;
}
.signup-btn__email{
  background: #ea352d;
  color: #fff;
  display: block;
  border-radius: 4px;
}

.signup-btn__facebook{
background: #385185;
color: #fff;
border-radius: 4px;
}

.signup-btn__google{
  background: #FFF;
  display: block;
  border-radius: 4px;
}


.signup-contents__form{
  padding: 24px 16px 40px;
  
}

