.signup-header{
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  height: 128px;
}
.signup-contents__title{
  
}

.logo{
  display: inline-block;
  height: 100px;
}

.signup_head-logo{
  
  margin: 40px 0 0;
}

.signup-bar{
  font-size: 14px;
  padding: 40px 0 0 44px;
  display: inline-block;
  vertical-align: top;
}

.signup-lists{
  list-style: none;
}

.signup-list{
  float: left;
  position: relative;
  font-weight: 600;
  margin-right: 40px;

}