












.form-group {
  max-width: 343px;
  margin: 20px auto 0;
}
.form-label {
  font-weight: bold;
}
.essential {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
