// パンくずリスト
.signup-bar{
  font-size: 14px;
  padding: 40px 0 0 44px;
  display: inline-block;
  vertical-align: top;


  .signup-lists{
    list-style: none;

    .signup-list{
      float: left;
      position: relative;
      font-weight: 600;
      margin-right: 40px;
      color: #888;
      font-size: 12px;

        &.active-title{
          font-weight: 600;
          color: #ea352d;
        }
    }

    .list-round{
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      background: #ccc;
      border-radius: 50%;

        &-left_through{
        background: #ea352d;
        }
        
        &-right{
          background: #ccc;
        }
    }

    .list-round_bar{
      bottom: 5px;
      height: 2px;
      background: #ccc;
      position: relative;
      
      &_fast{
        top: -7px;
        left: 30px;
      }

      &_auto{
        top: -7px;
        right: 40px;
      }

      &_last1{
        top: -7px;
        right: 70px;
        }
      
      &_last2{
        bottom: 9px;
        right: 30px;
        width: 50px;
      }

      &_ok1{
        background: #ea352d;
        top: -7px;
        left: 30px;
      }

      &_ok2{
        background: #ea352d;
        top: -7px;
        right: 42px;
      }

      &_ok3{
        width: 70px;
        background:#ea352d;
        top: -7px;
        right: 70px;
      }

      &_ok4{
        background: #ea352d;
        bottom: 9px;
        right: 30px;
      }
    }
  }
}



 .next-button{
  background: #ea352d;
  color: #fff;
  display: block;
  border: #ea352d solid 1px;
  padding: 15px 40px;
  margin: auto;
  width: 343px;
 }
