// パンくずリスト

.signup-list{
color: #888;
font-size: 12px;
}

.signup-list.active-title{
  font-weight: 600;
  color: #ea352d;
}
.list-round-left-through{
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background: #ea352d;
  border-radius: 50%; 
}

.list-round-left_bar{
  bottom: 5px;
  height: 2px;
  background: #ccc;
  position: relative;
  top: -7px;
  left: 30px;
}

.list-round-auto_bar{
  bottom: 5px;
  height: 2px;
  background: #ccc;
  position: relative;
  top: -7px;
  right: 40px;
}

.list-round-last{
  bottom: 5px;
  height: 2px;
  background: #ccc;
  position: relative;
  top: -7px;
  right: 70px;

  }

.list-round-last__bar1{
  width: 70px;
  height: 2px;
  background: #ccc;
  position: relative;
  bottom: 7px;
  right: 70px;
}

.list-round-last__bar2{
  height: 2px;
  background: #ccc;
  position: relative;
  bottom: 9px;
  right: 40px;
}

.list-round-left_bar-through{
  position: absolute;
    bottom: 5px;
    z-index: -1;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
}

.list-round-left_bar-ok{
  bottom: 5px;
  height: 2px;
  background: #ea352d;
  position: relative;
  top: -7px;
  left: 30px;
}

.list-round-auto_bar-ok{
  bottom: 5px;
  height: 2px;
  background: #ea352d;
  position: relative;
  top: -7px;
  right: 40px;

}

.list-round-last__bar1-ok{
  width: 70px;
  height: 2px;
  background:#ea352d;
  position: relative;
  bottom: 6px;
  right: 80px;
}

.list-round-last__bar2-ok{
  height: 2px;
  background: #ea352d;
  position: relative;
  bottom: 8px;
  right: 40px;
}

.list-round{
 width: 12px;
 height: 12px;
 margin: 8px auto 0;
 background: #ccc;
 border-radius: 50%;
}

.list-round-right{
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background: #ccc;
  border-radius: 50%;
 }
// パンくずリスト

 .next-button{
  background: #ea352d;
  color: #fff;
  border-radius: 4px;
  display: block;
  border: #ea352d solid 1px;
  padding: 15px 40px;
  max-width: 343px;
  margin: auto;
 }
