.signup
  .signup-header
    .logo-signup
      .signup_head-logo
        =link_to root_path, class: 'signup-header__logo'do
          %img.header-img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?238737266"} 
  .signup-main
    .signup-contents
      アカウントをお持ちでない方はこちら
      =link_to root_path, class: "login-btn__email" do
        .far.fa-envelope
        メールアドレスで登録する
    .login-contents__form
      .login-btn
        =link_to root_path, class: "login-btn__facebook" do
          .fab.fa-facebook-square
          Facebookで登録する
        =link_to root_path, class: "login-btn__google" do
          .fab.fa-google
          Googleで登録する 
    .login-contents__form
      .login_mercari_start
        = link_to "#", class: 'login__start' do
          ログイン
  = render 'signups/signup_footer'
