.signup
  .signup-header
    .logo-signup
      .signup_head-logo
        =link_to root_path do
          %img.header-img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?238737266"} 
    .signup-bar
      %ol.signup-lists
        %li.signup-list.active-title
          会員情報
          .list-round-left.active-round
        %li.signup-list.active-title
          電話番号認証
          .list-round-left.active-round
        %li.signup-list.active-title
          完了
          .list-round-left.active-round
    .signup-contents__title
      会員登録完了
    .signup-contents__form
      .signup-content_text
        %p　ありがとうございます。登録が完了しました。
        .signup_mercari_start
          = link_to "#", class: 'signup__start' do
            メルカリをはじめる
    = render 'signups/signup_footer'