.signup
  .signup-header
    %h1.logo
      .signup_head-logo
        =link_to root_path do
          %img.header-img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?238737266"} 
    .signup-bar
      %ol.signup-lists
        %li.signup-list.active-title
          会員情報
          .list-round-left.active-round
        %li.signup-list
          電話番号認証
          .list-round
        %li.signup-list
          完了
          .list-round-right
    .signup-contents__title
      会員情報入力
    = render 'signups/signup_footer'

