.signup
  .signup-header
    .logo-signup
      .signup_head-logo
        =link_to root_path do
          %img.header-img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?238737266"} 
    .signup-bar
      %ol.signup-lists
        %li.signup-list.active-title
          会員情報
          .list-round-left.active-round
        %li.signup-list
          電話番号認証
          .list-round
        %li.signup-list
          完了
          .list-round-right
    .signup-contents__title
      会員情報入力
    .signup-contents__form
      .signup-content_text
        「次へ進む」のボタンを押すことにより、
        =link_to root_path do
          利用規約
        %a に同意したものとみなします
    = render 'signups/signup_footer'

