.signup
  .signup-header
    .logo-signup
      .signup_head-logo
        =link_to root_path do
          %img.header-img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?238737266"} 
    .signup-bar
      %ol.signup-lists
        %li.signup-list
          会員情報
          .list-round-left.active-round
        %li.signup-list.active-title
          電話番号認証
          .list-round-left.active-round
        %li.signup-list
          完了
          .list-round-right
    .signup-contents__title
      電話番号の確認
    .signup-contents__form
      .signup_mercari_start
        = link_to "/signups/user3/", class: 'signup__start' do
          次へ進む
      .signup-content_text
        %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
    = render 'signups/signup_footer'