.signup
  .signup-header
    .logo-signup
      .logo-signup_logo
        =link_to root_path do
          %img.signup-img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?238737266"} 
    .signup-bar
      %ol.signup-lists
        %li.signup-list
          会員情報
          .list-round.list-round-left_through
          .list-round_bar.list-round_bar_ok1
        %li.signup-list.active-title
          電話番号認証
          .list-round.list-round-left_through
          .list-round_bar.list-round_bar_ok2
        %li.signup-list
          完了
          .list-round.list-round-right
          .list-round_bar.list-round_bar_last1
          .list-round_bar.list-round_bar_last2
    .signup-contents.signup-contents__title
      電話番号の確認
    .signup-contents__form
      = form_with model: @user, url: user3_signups_path,  local: true do |f|
        .form-group
          携帯電話番号
        .form-group
          = f.text_field :phone_number, placeholder: '電話番号の入力', class:'input-box'
        .signup-content_text
          %p 本人確認のため、携帯電話のSMS(ショートメッセージ
          %p サービス)を利用して認証を行います。
        .signup_mercari_start
          .form-group
          = f.submit "SMSを送信する", class: 'next-button'
      .signup-content_text
        %p ※電話番号は本人確認や不正利用防止のために利用し
        %p ます。他のユーザーに公開されることはありません。
    = render 'signups/signup_footer'